* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../assets/titanic.jpg');
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
