.search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .elem {
        padding: 0.5rem;
        border: none;
        border-radius: 10px;
    }

    .input {
        width: 80%;
    }

    .select {
        cursor: pointer;
        width: 18%;
    }
}
