.passenger {
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.name {
  width: 40%;
}

.gender {
  width: 20%;
}

.survived {
  width: 35%;
}

.age {
  width: 5%;
  text-align: right;
}

.ticket::before {
  content: 'ticket: ';
}

.cabin::before {
  content: 'cabin: ';
}

.loader {
  text-align: center;
  margin-bottom: 10px;
}
